#form {
    display:flex;
    justify-content: flex-end;
    padding-right: 130px;
}

#formname {
    padding-bottom: 50px;
    scale: 1.5;
    color: rgb(212, 212, 212);

}

#formemail {
    padding-bottom: 50px;
    scale: 1.5;
    color: rgb(212, 212, 212);

}

#formmessage {
    padding-bottom: 50px;
    scale: 1.5;
    color: rgb(212, 212, 212);

}

#formsubmit {
    text-align: center;
    width: 261px;
    scale: 1.5;
}

.input {
    height: 25px;
    width: 261px;
    font-size: 15px;
    border-radius: 5px;
    border-width: thin;
}

.messageinput {
    height: 40px;
    width: 261px;
    font-size: 15px;
    border-radius: 5px;
    border-width: thin;
}

#status {
    text-align: center;
    width: 261px;
    color: rgb(212, 212, 212);

}

#emailme {
    display:flex;
    text-align: center;
    width: 261px;
    font-size: 30px;
    padding-bottom: 20px;
    color: rgb(212, 212, 212);

}