#reachme {
    padding-left: 205px;
    padding-top: 24px;
    font-size: 50px;
    margin-bottom: 0px;
    color: rgb(212, 212, 212);

}

#test {
    width: 500px;
    float: left;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.subcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 600px;
    padding-top: 380px;
}

.phoneimg {
    scale: 0.5;
    margin: 0 auto;
}

.gitimg {
    scale: 0.5;
    margin: 0 auto;
    margin-left: 50px;
    margin-right: 50px;
    transition: .2s;
}

.gitimg:hover {
    scale: 0.6;
}

.linkedimg {
    scale: 0.5;
    margin: 0 auto;
    margin-left: 50px;
    margin-right: 50px;
    transition: .2s;
}

.linkedimg:hover {
    scale: 0.6;
}

.phonestub {
    display: flex;
    flex-direction: column;
    width: 200px;
    color: rgb(212, 212, 212);

}

.gitstub {
    display: flex;
    flex-direction: column;
    width: 200px;
    color: rgb(212, 212, 212);

}

.linkstub {
    display: flex;
    flex-direction: column;
    width: 200px;
    color: rgb(212, 212, 212);

}

.stubtext {
    margin-top: 0px;
    text-align: center;
}

.card {
    height: 370px;
    width: 330px;
    margin-left: 255px;
    margin-top: 10px;
    position: absolute;
    background-color: rgb(173, 173, 173);
    border-radius: 18px;
    box-shadow: 0 5px 15px black;
}

.pic {
    scale: .8;
    margin-top: 20px;
    margin-right: 82px;
    border-radius: 120px;
    background-image: linear-gradient(to bottom right, rgb(55, 55, 55), black);
}

.cardtext {
    position: absolute;
    text-align: center;
    margin-top: 190px;
    margin-left: 28px;
    font-size: 20px;
    line-height: 1.5;
}

.resume {
    scale: 0.2;
    padding-top: 85px;
    margin-right: 84px;
}

.restxt {
    font-size: 10px;
    padding-top: 330px;
    width: 10px;
    padding-left: 145px;
    position: absolute;
}
