#aboutheader {
    padding-top: 30px;
    padding-left: 50px;
    color: rgb(212, 212, 212);

}

#abouttext {
    margin: 0 auto;
    width: 800px;
    padding-top: 50px;
    font-size: 19px;
    line-height: 1.75;
    color: rgb(212, 212, 212);

}

#abouttechs {
    padding-top: 100px;
    text-align: center;
    color: rgb(212, 212, 212);
}

@media only screen and (max-width: 600px) {
    #abouttext {
        width: 320px;
        font-size: 16px;
        padding-top: 5px;
    }
    #abouttechs {
        padding-top: 25px;
    }
}