img {
  width: 50%;
  float: right;
}

.homepage {
  padding-top: 20px;
}

.hometext {
  padding-left: 175px;
}

.homeimg {
  padding-right: 275px;
  min-width: 50%;
}

.title {
  font-size: 70px;
  margin-bottom: 0px;
  color: rgb(212, 212, 212);
}

.name {
  font-size: 50px;
  padding-top: 30px;
  padding-left: 175px;
  color: rgb(212, 212, 212);
}

.brief {
  color: rgb(212, 212, 212);
}